* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2)),
    url(https://www.egofm.de/content/cache/blog/5806/230/7837ded24839fdf3/w822_markus-spiske-vyho3nnk8g8-unsplash_c_01.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  height: 30%;
  font-size: 40px;
  padding: 40px;
}

#add,
#login,
#updateDelete,
footer {
  background-color: rgb(223, 227, 240);
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 600px;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: black;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
  top: -5px;
  color: #cccccc;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
  width: 100%;
}

input[type="submit"] {
  width: 25%;
  height: 50px;
  border: 1px solid;
  background: rgb(15, 122, 122);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

#login-form-submit {
  width: 25%;
  height: 50px;
  border: 1px solid;
  background: rgb(15, 122, 122);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="reset"] {
  width: 25%;
  height: 50px;
  border: 1px solid;
  background: rgb(15, 122, 122);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="cancel"] {
  width: 25%;
  height: 50px;
  border: 1px solid;
  background: rgb(15, 122, 122);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  text-align: center;
}

input[type="submit"]:hover {
  border-color: rgb(15, 122, 122);
  transition: .5s;
}

#login-form-submit:hover {
  border-color: rgb(15, 122, 122);
  transition: .5s;
}

input[type="reset"]:hover {
  border-color: rgb(15, 122, 122);
  transition: .5s;
}

input[type="cancel"]:hover {
  border-color: rgb(15, 122, 122);
  transition: .5s;
}

h2 {
  margin: 100px 0px 20px 880px;
  font-size: 100px;
  font-weight: 600;
  position: relative;
  text-align: center;
  left: -4em;
  bottom: 50px;
  color: white;
  font-family: 'Anton', sans-serif;
}

/* Login-Screen */

#login {
  height: 893px;
}

#login-form {
  margin-top: 150px;
}

/* Main-Screen */

#map {
  height: 617px;
  width: 1540px;
  max-width: 100%;
  max-height: 100%;
  margin-left: 300px;
}

nav {
  background-color: rgb(15, 122, 122);
  height: 100px;
}

.nav-button {
  float: right;
  width: 10%;
  height: 100%;
  font-size: x-large;
  background-color: rgb(15, 122, 122);
  color: white;
  border: none;
  cursor: pointer;
}

.nav-button:hover {
  background-color: rgb(10, 63, 63);
}

li {
  cursor: pointer;
}

aside {
  height: 617px;
  width: 300px;
  background-color: rgb(15, 122, 122);
  color: white;
  position: absolute;
  padding-left: 20px;
}

/* Add-Screen */

#login input[type=submit] {
  margin-left: 37%;
}

#add input[type=submit] {
  margin-left: 25%;
}

#add {
  height: 893px;
}

#add-form {
  margin-top: 100px;
}

/* Update-Delete */

#update {
  margin-left: 38%;
  margin-bottom: 10px;
}

#delete {
  background-color: #d3373e;
  margin-left: 38%;
  margin-bottom: 10px;
}

#cancel-update {
  margin-left: 38%;
}

#updateDelete {
  height: 893px;
}

/* Footer */

footer {
  text-align: center;
  color: white;
  background-color: rgb(10, 63, 63);
}

/* Impressum */

#impressum {
  cursor: pointer;  color: white;
  padding-bottom: 50px;
  text-align: center;
  font-size: 20px;
  padding: 10px;

}
#impressum-page{
  height: 876px;
}


#back {
  cursor: pointer;
  width: 5%;
  height: 20px;
  text-align: center;
  border: 1px solid;
  background: rgb(15, 122, 122);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;

}

p1 {
  margin: 0;
  font-family: system-ui;
  text-align: center;

}
