.updateDelete-form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 60px 600px;
}

.updateDelete-main {
    height: 576px;
}

.updateDelete-form input[type=submit] {
    margin-left: 25%;
}

.cancel-button-guest {
    margin-left: 43%;
    width: 15%;
    height: 50px;
    border: 1px solid;
    background: rgb(15, 122, 122);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    text-align: center;
}